# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Packaging
build/
dist/
*.egg-info/

# Virtual Environments
.venv/
env/
venv/

# Pytest & Coverage
.pytest_cache/
.coverage
htmlcov/

# Editor & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# CacheAlign local cache & telemetry
.cachealign/
*.log
